{% extends 'base.html' %}
{% block title %}
	List App
{% endblock %}
{% block content %}
	<div id="create-update-div">
		<h1>Create</h1>
		<label for="name">Name:</label>
		<input type="text" name="title" maxlength="64" required id="name">
		<br>
		<textarea id="content-textarea">
			hi
		</textarea>
		<button id="post-btn">Post</button>
		<button id="update-btn">Update</button>
		<button id="delete-btn">Delete</button>
		<button id="back-btn">Back</button>
	</div>

	<div id="list-div">
		<h1>List</h1>
		<input type="text" name="search-bar" id="search-bar" placeholder="search">
		<div id="table-div">
		</div>
		<button id="create-btn">create</button>
	</div>

	<div id="detail-div">

	</div>

	<div id="delete-div">
		<h1>Delete</h1>
	</div>
	{% load static %}
	<script src="https://cdn.tiny.cloud/1/u9jme0ubzunc1ikuzefidbdc7pnodyglzq5mnqh5tkss5lui/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<script type="text/javascript" src="{% static 'js/ui.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/api.js' %}"></script>
	<script type="text/javascript">
// initialize tiny mce
		tinymce.init({
		    selector: '#content-textarea',
			plugins: '',
			toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter pageembed permanentpen table',
			toolbar_mode: 'floating', 
			tinycomments_mode: 'embedded',
			tinycomments_author: 'Author name', 
		});
		const post_domain = '{{list_api}}';
		const detail_domain = '{{detail_api}}';

		let raw_data = null;
		let selected_index = null;
		// back up of raw_data, primarily used when search is used
		let raw_data_backup = null;
		let isSearching = false;
		// an array that contains the indices of the backup
		// [1,5,6,9] -> indices that corresponds to the backup
		//  0,1,2,3  -> indices that corresponds to the data
		let indices = null;
		const properties_to_show = ['name', 'last_modified', 'timestamp'];
		const titles = ['Name', 'Last Modified', 'Date'];

		const createUpdateDiv = document.getElementById('create-update-div');
		const listDiv = document.getElementById('list-div');
		const detailDiv = document.getElementById('detail-div');
		const updateDiv = document.getElementById('update-div');
		const deleteDiv = document.getElementById('delete-div');
		const tableDiv = document.getElementById('table-div');

		const divList = [createUpdateDiv, listDiv, detailDiv, deleteDiv];

		const nameInput = document.getElementById('name');

		// buttons 
		const postBtn = document.getElementById('post-btn');
		const updateBtn = document.getElementById('update-btn');
		const deleteBtn = document.getElementById('delete-btn');
		const backBtn = document.getElementById('back-btn');
		const createBtn = document.getElementById('create-btn');

		// bind buttons to certain actions
		postBtn.onclick = postAction;
		updateBtn.onclick = updateAction;
		backBtn.onclick = displayList;
		createBtn.onclick = displayCreate;
		deleteBtn.onclick = deleteAction;

		const searchBar = document.getElementById('search-bar');

		// event binding
		searchBar.oninput = searchAction;

		function showDiv(div_to_show){
			return showDivBase(div_to_show, divList);
		}

		// get the data from the form
		// return a dictionary that contains the label and value
		function getFormData(){
			const data = {
				name: nameInput.value,
				content: tinymce.get('content-textarea').getContent()
			}
			return data;
		}

		// set the content of the form
		function setFormData(name, content){
			nameInput.value = name;
			tinymce.get('content-textarea').setContent(content)
		}

		// just a wrapper that uses the setFormData to clear the form
		function clearForm(){
			setFormData('', '');
		}

		async function postAction(e){
			const formData = getFormData();
			const data = await post(formData);
			clearForm();

			// if is searching, instead of manipulating raw_data
			// which in this is a temporary, we should modify the raw_data_backup instead
			// since each time you query raw_data will be reinstantiated to the backup,
			// so any changes to the backup will be reflected to the raw_data
			if(isSearching){
				raw_data_backup.push(data);
			}else{
				// add the new element to the raw data
				raw_data.push(data);
			}
			displayList();
		}

		async function updateAction(e){
			const formData = getFormData();
			const data = await update(formData, raw_data[selected_index]['id']);
			clearForm();

			// if is searching, instead of manipulating raw_data
			// which in this is a temporary, we should modify the raw_data_backup instead
			// since each time you query raw_data will be reinstantiated to the backup,
			// so any changes to the backup will be reflected to the raw_data
			if(isSearching){
				// update the backup of the changes
				// since the selected index currently corresponds to raw_data
				// we will use the indices that converts the corressponding index
				// to the correct index in the backup
				raw_data_backup[indices[selected_index]]['name'] = formData['name'];
				raw_data_backup[indices[selected_index]]['content'] = formData['content'];
				// reflect the changes from the backup to raw_data
				// basically perform another query
				searchAction();
			}else{
				// update the raw data of the changes
				raw_data[selected_index]['name'] = formData['name'];
				raw_data[selected_index]['content'] = formData['content'];
			}

			displayList();
		}

		async function deleteAction(e){
			const res = await del_(raw_data[selected_index]['id']);

			// remove the element from the raw_data
			// it basically just filter the array that excludes the selecetd item in the array
			// this is a stop gap solution, since its really inefficient to delete an element of an array
			// i hope i can implement a better solution than this
			raw_data = raw_data.filter(data=>data!=raw_data[selected_index]);

			displayList();
		}

		function searchAction(e){
			let searchStr = searchBar.value;
			backup();
			if(searchStr.length>0){
				isSearching = true;
				indices = [];
				raw_data = raw_data.filter((data, i)=>{
					let value = data['name'].search(searchStr)>=0 || data['content'].search(searchStr)>=0;
					// if an element pass the requirement add the index to the indices
					if(value) indices.push(i);
					return value;
				});
			}else{
				isSearching = false;
				// restore the raw_data since searching is done
			}
			displayList();

		}

		function backup(){
			if(!isSearching){
				// at the start of the search, backup the raw_data
				raw_data_backup = [...raw_data];
			}else{
				// each search query, reinstantiate the raw_data
				raw_data = [...raw_data_backup];
			}
		}

		// wrapper for post
		async function post(formData){
			return await post_update(post_domain, 'POST', formData, getCookie('csrftoken'));
		}

		async function update(formData, pk){
			return await post_update(`${detail_domain}/${pk}/`, 'PUT', formData, getCookie('csrftoken'));
		}

		async function del_(pk){
			return await del(`${detail_domain}/${pk}/`, getCookie('csrftoken'));
		}

		// initialize the app
		async function init(){
			// get the data and set the raw_data variable
			raw_data = await get_data(post_domain);
			// display the list
			displayList();

		}

		function row_selection_function(e){
			selected_index = e.srcElement.parentNode.id;
			const selected_data = raw_data[selected_index];
			displayDetail(selected_data);
		}
		// for display
		async function displayList(){
			showDiv(listDiv);
			// const data = await get_data(post_domain);
			const table = createTable(raw_data, properties_to_show, row_selection_function, 'table', titles);

			// display the table
			tableDiv.innerHTML = '';
			tableDiv.appendChild(table);
		}

		function displayDetail(selected_data){
			// this should be the detailDiv
			// but since we are using a wysiwyg it makes send to use it to also display the details
			// since only the editor can display the content
			showDiv(createUpdateDiv);
			setFormData(selected_data['name'], selected_data['content']);

			// display necessary buttons
			updateBtn.style.display = 'block';
			deleteBtn.style.display = 'block';
			backBtn.style.display = 'block';

			// hide post btn
			postBtn.style.display = 'none';

		}

		function displayCreate(){
			showDiv(createUpdateDiv);
			clearForm();

			// show necessary buttons
			postBtn.style.display = 'block';
			backBtn.style.display = 'block';

			// hide unnecessary buttons
			updateBtn.style.display = 'none';
			deleteBtn.style.display = 'none';

		}

		function createDetailFields(){

		}

		function createDetailField(label, value){
			const p = document.createElement('P');
			p.textContent = `${label}: ${value}`;
			return p;
		}

		init();
	</script>
{% endblock %}